<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit</title>
</head>
<body>
   <h1>This is a web app for ml modell</h1> 
   <form action="/login" method="post">
    <p>R&D spend</p>
    <input type="text" name="rd">
    <p>Administration</p>
    <input type="text" name="rs" id="">
    <p>Marketing spend</p>
    <input type="text" name="ms">
    <br>
    <br>
    <label for="states">Choose the state</label>
    <select name="s" id="">
        <option value="cal">California</option>
        <option value="fli">Florida</option>
        <option value="ny">NewYork </option>
        <option value=""></option>
    </select>
    <br>
    <input type="submit">
   </form>
   <h2><b>{{y}}</b></h2>
</body>
</html>